<div class="nav_menu">
  <div class="nav_navigation">
    <%= link_to publicrecipes_path, class:"nav_items" do %>
      <p>Public Recipes</p>
    <% end %>
    <%= link_to recipes_path, class:"nav_items" do %>
      <p>My Recipes</p>
    <% end %>
    <%= link_to foods_path, class:"nav_items" do %>
      <p> My food list </p>
    <% end %>
    <%= link_to shoppinglist_index_path, class:"nav_items" do %>
      <p> General Shopping List </p>
    <% end %>
  </div>
  <div class="nav_user">
    <p class="user_logged"><%= current_user.name %></p>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
</div>
