<body>
  <%= render "navmenu" %>
  <div class="add_recipe">
    <% if can? :manage, Recipe %>
      <%= button_to "Add Recipe", new_recipe_path, method: :get %>
    <% end %>
  </div>
  <% @recipes.each do |recipe| %>
    <% if can? :read, recipe %>
      <div class="recipe_main">
        <div class="recipe">
          <%= link_to recipe_path(recipe.id), class: "recipe_name" do %>
            <p><%= recipe.name %></p>
          <% end %>
          <%= button_to "Remove recipe", recipe_path(recipe), method: :delete %>
        </div>
        <p class="recipe_desc"><%= recipe.description %></p>
      </div>
    <% end %>
  <% end %>
</body>
