<body>
  <%= render "recipes/navmenu" %>
  <div class="recipe_details_main">
    <h2 class="recipe_title"><%= @recipe.name %></h2>
    <div class="recipe_data">
      <div class="recipe_times">
        <p class="recipe_prep">Preparation Time: <%= @recipe.preparation_time %></p>
        <p class="recipe_cook">Cooking Time: <%= @recipe.cooking_time %></p>
      </div>
      <div class="recipe_public">
        <strong><%= @recipe.public? ? 'PUBLIC' : 'PRIVATE' %></strong>
      </div>
    </div>
    <div class="recipe_description">
        <p>Description: <%= @recipe.description %></p>
    </div>
    <div class="recipe_options">
      <% if can? :manage, @recipe %>
        <%= button_to "Generate Shopping List", shoppinglist_index_path, method: :get %>
        <%= button_to "Add ingredient", new_recipe_recipefood_path(@recipe), method: :get %>
      <% end %>
    </div>
    <table>
      <tr>
          <th>Ingredient</th>
          <th>Quantity</th>
          <th>Value</th>
          <% if can? :read, @recipe %>
            <th>Actions</th>
          <% end %>
      </tr>
      <% @recipefoods.each do |recipefood| %>
        <tbody>
          <tr id= <%= recipefood.id %> >
            <td><%=recipefood.food.name %></td>
            <td><%=recipefood.quantity %></td>
            <td><%="$#{recipefood.quantity*recipefood.food.price}" %></td>
            <% if can? :read, @recipe %>
              <td class="recipefood_data">
                <%= button_to "Remove", recipe_recipefood_path(recipefood), method: :delete %>
                <%= button_to "Modify", edit_recipe_recipefood_path(recipefood), method: :get %>
              </td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</body>
